<section class="mbr-section accordion toggle1" id="toggle1-g" style="background-color: rgb(255, 255, 255); padding-top: 150px; padding-bottom: 100px;">

    
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="section-head text-center space30">
                        <h1 class="mbr-section-title display-4">RESOURCES</h1>
                        
                    </div>
                    <div class="clearfix"></div>
                    <div id="toggle1-g" class="panel-group accordionStyles toggleStyles accordion" role="tablist" aria-multiselectable="true">
                      <div class="accordion-group">
                        <div class="toggle-panel panel-default colorBG" style="display: block;">
                            <div class="toggle-heading" role="tab" id="headingOne">
                                <span class="signSpan pseudoMinus"></span>
                                <h4 class="panel-title display-6"><a role="button" class="" data-toggle="collapse" data-parent="#accordion" data-core="" href="#collapseOnetoggle1-g" aria-expanded="true" aria-controls="collapseOne"><span class="sign"></span>Who should protest? And Why</a></h4>
                            </div>
                            <div id="collapseOnetoggle1-g" class="panel-collapse noScroll collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body"><p>Everyone! It is our collective responsibility to get our properties appraised at fair values. Keeping the appraised values down helps the neighbors which in turn helps values to stay reasonable in the future. </p></div>
                            </div>
                        </div>
                        <div class="toggle-panel panel-default" style="display: block;">
                            <div class="toggle-heading" role="tab" id="headingTwo">
                                <span class="signSpan pseudoPlus"></span>
                                <h4 class="panel-title display-6"><a role="button" class="" data-toggle="collapse" data-parent="#accordion" data-core="" href="#collapseTwotoggle1-g" aria-expanded="true" aria-controls="collapseTwo">Is the deadline over?</a></h4>
                            </div>
                            <div id="collapseTwotoggle1-g" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingTwo">
                                <div class="panel-body"><p>For both Williamson and Travis county, the deadline to initiate protest (file 'Notice of Protest') is May 31, 2017.</p></div>
                            </div>
                        </div>
                        <div class="toggle-panel panel-default" style="display: block;">
                            <div class="toggle-heading" role="tab" id="headingThree">
                                <span class="signSpan pseudoPlus"></span>
                                <h4 class="panel-title display-6"><a role="button" class="" data-toggle="collapse" data-parent="#accordion" data-core="" href="#collapseThreetoggle1-g" aria-expanded="true" aria-controls="collapseThree">What is the protest process?</a></h4>
                            </div>
                            <div id="collapseThreetoggle1-g" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body"><h4>Step 1: Appeal online</h4><p>First, start with an online protest. In a few cases this has saved time and has led to success. However, most likely your appeal will be denied. But DO NOT accept that results.</p><h4>Step 2: Schedule hearing</h4><p> 
Act fast to schedule your informal hearing. The meeting only takes 10-15 minutes and can lead to better results. Slots get filled up pretty past. So act fast &amp; reserve a slot that is as late as possible. This way you can also carry along evidence on other properties that have successfully protested. </p><h4>Step 3: Go to hearing</h4><p>This is your next chance to present your case with a county tax officer with as much research &amp; evidence as possible. Your goal should be to gather enough evidence that your poperty is appraised higher than comparables and place the burden on the officer to prove otherwise.</p><h4>Step 4: Go for binding arbitration</h4><p>This step will likely cost you money and you are only eligible if you have homestead exemptions on your property. we advice you hire an attorney to  help you case at this point.</p></div>
                            </div>
                        </div>
                        <div class="toggle-panel panel-default" style="display: block;">
                            <div class="toggle-heading" role="tab" id="headingFour">
                                <span class="signSpan pseudoPlus"></span>
                                <h4 class="panel-title display-6"><a role="button" class="" data-toggle="collapse" data-parent="#accordion" data-core="" href="#collapseFourtoggle1-g" aria-expanded="true" aria-controls="collapseFour">How much time does it take &amp; is it worth my time?</a></h4>
                            </div>
                            <div id="collapseFourtoggle1-g" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingFour">
                                <div class="panel-body"><p>With AppraisalGuru, you can make a decision in seconds whether you have any scope to protest. And if yes, AppraisalGuru reduces the time you would spend to research and identify comparables to just a few seconds. Based on our experience, WITHOUT our tool it takes about 6-10 hours to find comparables manually and you might still not make a good case. </p></div>
                            </div>
                        </div>
                        <div class="toggle-panel panel-default" style="display: block;">
                            <div class="toggle-heading" role="tab" id="headingFive">
                                <span class="signSpan pseudoPlus"></span>
                                <h4 class="panel-title display-6"><a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" data-core="" href="#collapseFivetoggle1-g" aria-expanded="false" aria-controls="collapseFive">How can AppraisalGuru help?</a></h4>
                            </div>
                            <div id="collapseFivetoggle1-g" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingFive">
                                <div class="panel-body"><p>AppraisalGuru is your task-rabbit to build your protest case. We automate the manual task of comparing and contrasting your property against other similar properties in your own neighborhood and reveal any scope you might have to reduce your appraised value.</p></div>
                            </div>
                        </div>
                        <div class="toggle-panel panel-default" style="display: block;">
                            <div class="toggle-heading" role="tab" id="headingSix">
                                <span class="signSpan pseudoPlus"></span>
                                <h4 class="panel-title display-6"><a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" data-core="" href="#collapseSixtoggle1-g" aria-expanded="false" aria-controls="collapseSix">Top 5 tips for a successful protest?</a></h4>
                            </div>
                            <div id="collapseSixtoggle1-g" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingSix">
                                <div class="panel-body"><p>Based on advice from experts, the following are top considerations you ought to make in order to build a strong case of appeal.</p><p>1. Request the evidence packet county appraiser used to evaluate your property. This is your main source of ammunition for getting your value reduced.</p><p>
2. Locate any disrepair on your property or any "Negative Influence" such as busy streets, nearby high tension electric wire, commercial property bordering your residential etc. and use them to strengthen your argument. </p><p>
3. Take pictures (very important) as they are worth a thousand words and use them for building your case.</p><p>
                                    4. Recent sales and appraisal data on similar properties will further help your case. </p><p>
5. Hire an agent if you are not confident or have time/resources to protest. It's worth it. </p></div>
                            </div>
                        </div>
                        <div class="toggle-panel panel-default" style="display: block;">
                            <div class="toggle-heading" role="tab" id="headingSeven">
                                <span class="signSpan pseudoPlus"></span>
                                <h4 class="panel-title display-6"><a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" data-core="" href="#collapseSeventoggle1-g" aria-expanded="false" aria-controls="collapseSeven">Should I hire an agent or do it myself?</a></h4>
                            </div>
                            <div id="collapseSeventoggle1-g" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingSeven">
                                <div class="panel-body"><p>It totally depends on your case and you. If you really don't want to go through the process, then it is better off engaging an agent to work on your behalf. About 68% of homeowners in Travis county employed an agent. But remember, the agents could charge you about 40% of the tax savings! </p>
                                <p>With AppraisalGuru, we automate your research and scope out your protest plan. It's quite easy from there on build your case and complete the protest process.</p></div>
                            </div>
                        </div>
                      </div>    
                    </div>
                </div>
            </div>
        </div>
</section>
